<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/pickr-nano-1.7.2.css">
        <link rel="stylesheet" type="text/css" href="css/pickr-classic-1.7.2.css">
        <link rel="icon" type="image/png" href="img/favicon.png">
        <link rel="stylesheet" type="text/css" href="css/newStyle.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Color-Page</title>
    </head>
    <body>
        <nav class="navbar navbar-dark border-hd" style="background-color: #0595FC;">
            <a class="navbar-brand fontStyle" href="#"><img src="img/favicon.png" class="d-inline-block align-top mr-2" width="30" height="30">LED-Piano</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <img src="img/header.jpg" class="d-inline-block align-top" style="overflow: hidden;" width="100%" height="50">
                </li>
            </ul>
        </nav>
        <div class="container-fluid" style="background-color: #A1D7FF;">
            <div class="row">
                <div class="col-sm mt-2 mb-2 colorButtonsClass" id="colorButtons">
                    <h3>Preset Colors</h3>
                    <hr class="horizontalRuler">
                    <div id="show-alert">
                    </div>
                </div>
                <div class="col-sm mt-2 mb-2">
                    <h3>Background-Lighting</h3>
                    <hr class="horizontalRuler">
                    <div id="show-alert-bgLighting">
                    </div>
                    <button type="button" class="btn" id="bgColorPicker">Your Color</button>
                    <button type="button" class="btn m-1" id="bg-lighting-rand-color" value="BG-Lighting-Rand" onclick="setBgRandomLighting()">Random BG-Color</button>
                    <button type="button" class="btn btn-primary m-1" id="change-bg-lighting" value="BG-Color" onclick="setBgLighting(this.value)">Change BG-Lighting</button>
                    <button type="button" class="btn btn-dark m-1" id="bg-lighting-off" value="BG-Color-On-Off" onclick="setBgLighting(this.value)">BG-Lighting On/Off</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm mt-2 mb-2">
                    <h3>Your Color!</h3>
                    <hr class="horizontalRuler">
                    <div id="show-alert-key-picker"></div>
                    <button type="button" class="btn" id="keyColorPicker">Your Color</button>
                    <!-- <div id="colorPicker"></div> -->
                    <!-- <button type="button" id="colorPicker">Color Picker</button> -->
                    <!-- <button type="button" class="btn btn-primary" id="colorPicker">Color Picker</button> -->
                </div>
                <div class="col-sm mt-2 mb-2">
                    <h3>Color-Effects</h3>
                    <hr>
                    <div id="show-alert-colorEffects">
                    </div>
                    <button type="button" class="btn m-1" id="randomColor" value="Random Color" onclick="randomColor()">Random Color</button>
                    <!-- <button type="button" class="btn btn-danger" id="cancelFreeze" onclick="keyFreeze()">Stop Freeze</button> -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm mt-2 mb-2">
                </div>
                <div class="col mt-2 mb-2">
                    <h3>Key-Freeze</h3>
                    <hr>
                    <div id="key-freeze-alert">
                    </div>
                    <form onsubmit="keyFreeze(event)">
                        <div class="form-group">
                            <input type="number" class="form-control" id="timeFreeze" aria-describedby="timeFreezeHelp" placeholder="Enter how long the keys should stay lit" required>
                            <small id="timeFreezeHelp" class="form-text text-muted">Note: You can't go higher than 5 or less than 0 seconds!</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-danger float-right" id="cancelFreeze" onclick="keyFreeze()">Stop Freeze</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-footer border-ft">
        </div>
    </body>
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
    <script src="js/dist/jquery-3.5.1.js"></script>
    <script src="js/dist/bootstrap.bundle.js"></script>
    <script src="js/dist/pickr-1.7.2.js"></script>
    <script src="js/colorButtons.js"></script>
    <script src="js/colorEffects.js"></script>
    <script src="js/colorPicker.js"></script>
    <script src="js/createAlert.js"></script>
    <!-- <script src="js/colorPicker.js"></script> -->
</html>