<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="icon" type="image/png" href="img/favicon.png">
        <link rel="stylesheet" type="text/css" href="css/newStyle.css">
        <meta charset="UTF-8">
        <title>Color-Page</title>
    </head>
    <body>
        <nav class="navbar navbar-dark border-hd" style="background-color: #0595FC;">
            <a class="navbar-brand fontStyle" href="#"><img src="img/favicon.png" class="d-inline-block align-top mr-2" width="30" height="30">LED-Piano</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <img src="img/header.jpg" class="d-inline-block align-top" style="overflow: hidden;" width="100%" height="50">
                </li>
            </ul>
        </nav>
        <div class="container-fluid" style="background-color: #A1D7FF;">
            <div class="row">
                <div class="col mt-2 mb-2 colorButtonsClass" id="colorButtons">
                    <h3>Preset Colors</h3>
                    <p class="note">(Note: These colors may not resemble the LED-Strip Colors)</p>
                    <hr class="horizontalRuler">
                </div>
                <div class="col mt-2 mb-2">
                    Column 2 of 2
                </div>
            </div>
        </div>
        <div class="card-footer border-ft">
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="js/testColorPage.js"></script>
</html>