*, *::before, **::after {
    box-sizing: border-box;
}

.white {
    width: 1.5rem;
    height: 6.0rem;
    border-left: 1px solid rgb(187, 187, 187); /* bbb*/
    border-bottom: 1px solid #bbb;
    border-radius: 0 0 5px 5px;
    box-shadow: -2px 0 0 rgba(255,255,255,0.8) inset, 0 0 10px rgb(204, 204, 204) inset, 0 0 3px rgba(0,0,0,0.2); /* fff, ccc, 000*/
    background: linear-gradient(to bottom,#eee 0%,#fff 100%);
    z-index: 1;
}

.black {
    width: 0.8rem;
    height: 4.0rem;
    border: 1px solid #000;
    border-radius: 0 0 3px 3px;
    box-shadow: -1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
    background: linear-gradient(45deg,#222 0%,#555 100%);
    margin-left: -0.4rem;
    margin-right: -0.4rem;
    z-index: 2;
}

.onHitBlack {
    width: 0.8rem;
    height: 4.0rem;
    border: 1px solid #0a0;
    border-radius: 0 0 3px 3px;
    box-shadow: -1px -1px 2px rgba(255,255,255,0.8) inset,0 -5px 2px 3px rgba(0,255,0,0.6) inset,0 2px 4px rgba(0,255,0,0.5);
    background: linear-gradient(45deg,#2f2 0%,#5a5 100%);
    margin-left: -0.4rem;
    margin-right: -0.4rem;
    z-index: 2;
}

.onHitWhite {
    width: 1.5rem;
    height: 6.0rem;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-radius: 0 0 5px 5px;
    box-shadow: -1px 0 0 rgba(0,255,0,0.8) inset,0 0 5px #afa inset,0 0 3px rgba(0,255,0,0.2);
    background: linear-gradient(to bottom,#0e0 0%,#9f9 100%);
    z-index: 1;
}