body {
	font-family: times;
	
}

header {
	text-align: center;
	background-color: rgb(5,149,252);
	border-radius: 5px;
	border-bottom: 5px solid blue;
	padding: 1px;
	margin: 0px;
	overflow: hidden;
}

section {
	background-color: rgb(161,215,255);
	padding: 1px;
	border-radius: 5px;
	margin: 0px;
	height: auto;
}

footer {
	text-align: center;
	background-color: rgb(5,149,252);
	border-radius: 5px;
	border-top: 5px solid blue;
	padding: 1px;
	margin: 0px;
}

h1,h2,h3 {
	font-family: times;
	color: white;
	text-shadow: 0px 0px 5px black;
}

p {
	font-size: 24px;
}

input[type=color] {
	background-color: silver;
	height: 30px;
	width: 65px;
	border-radius: 5px;
}

input[type=color]:hover {
	background-color: lime;
}

.window {
	width: 33%;
	height: auto;
	margin: 0px;
	padding: 2px;
	/*border: 2px solid blue;*/
	display: inline-block;
	vertical-align: top;
}

form {
	margin: 0px;
	padding: 2px;
}

hr {
	width: auto;
	height: 2px;
	background-color: blue;
}

button {
	font-size: 20px;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	padding: 5px;
	overflow: hidden;
	margin: 3px;
	cursor: pointer;
}

button[type=submit]:hover {
	background-color: rgb(3,255,120);
	color: red;
}

button:active {
	outline-style: solid;
	outline-color: lightblue;
	outline-width: 3px;
	border-radius: 10px;
}

#btnRed {
	background-color: rgb(255,0,0);
	color: rgb(127,0,0);
}

#btnRed:hover {
	background-color: rgb(127, 0, 0);
	color: rgb(255,0,0);
}

#btnGreen {
	background-color: rgb(0,255,0);
	color: rgb(0,127,0);
}

#btnGreen:hover {
	background-color: rgb(0,127,0);
	color: rgb(0,255,0);
}

#btnBlue {
	background-color: rgb(0,0,255);
	color: rgb(128,128,128);
}

#btnBlue:hover {
	background-color: rgb(0,0,127);
	color: rgb(255,255,255);
}

#btnOrange {
	background-color: rgb(255,102,0);
	color: rgb(255,51,0);
}

#btnOrange:hover {
	background-color: rgb(255,51,0);
	color: rgb(255,102,0);
}

#btnPurple {
	background-color: rgb(255,0,255);
	color: rgb(127,0,127);
}

#btnPurple:hover {
	background-color: rgb(127,0,127);
	color: rgb(255,0,255);
}

#btnCyan {
	background-color: rgb(0,255,255);
	color: rgb(0,127,127);
}

#btnCyan:hover {
	background-color: rgb(0,127,127);
	color: rgb(0,255,255);
}

#btnYellow {
	background-color: rgb(255,255,0);
	color: rgb(127,127,0);
}

#btnYellow:hover {
	background-color: rgb(127,127,0);
	color: rgb(255,255,0);
}

#btnOff {
	background-color: rgb(127,127,127);
	color: rgb(0,0,0);
}

#btnOff:hover {
	background-color: rgb(0,0,0);
	color: rgb(127,127,127);
}

#btnDefault {
	background-color: rgb(255,255,255);
	color: rgb (127,127,127);
}

#btnDefault:hover {
	background-color: rgb(127,127,127);
	color: rgb(255,255,255);
}
